@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
    font-family: 'Source Code Pro', monospace;
    box-sizing: border-box;
    /* border: 0.0005em red solid; */
}
/* TO DO

    1) When width is under a certain number, make image appear below title in div with class left, and change
        div left to display: blocK. Size image accordingly.
    2) When width is bigger image should center on the right side

*/


/* INDEX */

.index-h1, .index-ul {
    text-align: center;
}

.index-h1 {
    font-size: 100px;
    margin-right: 205px;
    margin-left: 205px;
    background-color: black;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.index-ul {
    list-style-type: upper-roman;
    list-style-position: inside;
    font-size: 65px;
    padding-right: 80px;
    margin-top: -1%;
}

a {
    color: black;
}

a:hover {
    color: gray;
} 

#git {
    color: white;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 25px;
    margin-top: auto;
}

body, html {
    margin: 0;
}

html {
    height:100%;
} 
body {
    min-height:100vh;
    min-width: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* CARROT CAKE */
.carrot-img {
    width: 32em;
    height: 50em;
    margin-bottom: 200px;
}

/* LASAGNA */
.lasagna {
    width: 500px;
    height: 600px;
    display: inline;
    margin-left: 30px;
    margin-bottom: 75px;
}

/* WAFFLES */
.waffles-img {
    width: 500px;
    height: 500px;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.left {
    max-width: 65%;
    text-align: center;
    margin-bottom: 50px;
    flex-grow: 1;
}

.recipe-container {
    display: flex;
    flex-flow: row wrap;
}

.left ul{
    list-style-position: inside;
    padding-right: 75px;
}

.left ol{
    list-style-position: inside;
}

.left h1 {
    font-size: 45px;
}

.left h3 {
    margin-right: 20px;
}

.left input {
    background-color: black;
    color: white;
    font-size: 22px;
}
.left input:hover {
    background: gray;
}