/* INDEX */

.index-h1, .index-ul {
    text-align: center;
}

.index-h1 {
    font-size: 100px;
}

.index-ul {
    list-style-type: upper-roman;
    list-style-position: inside;
    font-size: 65px;
}

a {
    color: black;
}

a:hover {
    color: gray;
} 

footer {
    background-color: black;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 25px;
}

/* CARROT CAKE */
.carrot-img {
    width: 35%;
    height: 15%;
}

/* WAFFLES */
.waffles-img {
    width: 35%;
    height: 15%;
}