@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
    font-family: 'Source Code Pro', monospace;
   /* border: 2px red solid; */
}

/* INDEX */

.index-h1, .index-ul {
    text-align: center;
}

.index-h1 {
    font-size: 100px;
    margin-right: 205px;
    margin-left: 205px;
    background-color: black;
    color: white;
}

.index-ul {
    list-style-type: upper-roman;
    list-style-position: inside;
    font-size: 65px;
    padding-right: 80px;
}

a {
    color: black;
}

a:hover {
    color: gray;
} 

#git {
    color: white;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 25px;
}

body {
    margin: 0;
}

/* CARROT CAKE */
.carrot-img {
    width: 35%;
    height: 15%;
}

/* WAFFLES */
.waffles-img {
    width: 500px;
    height: 500px;
    display: inline-flex;
    padding-left: 50px;
    margin-bottom: 125px;
}

.left {
    width: 1000px;
    display: inline-block;
    text-align: center;
}

.wafel {
    margin-left: 10px;
}
.left ul{
    list-style-position: inside;
    padding-right: 75px;
}
.left ol{
    list-style-position: inside;
}
.left h1 {
    font-size: 45px;
}

.left input {
    background-color: black;
    color: white;
    font-size: 22px;
}
.left input:hover {
    background: gray;
}